<header class="header">
  <a href="./" class="logo">
    <img src="public/img/logo1.png" alt="Logo" />
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li>
      <a class="menu-item" href="/"> Inicio </a>
    </li>
    <li>
      <a class="menu-item" href="/Crud-Completo-con-NodeJS-Express-y-MySQL">
        Crud
      </a>
    </li>
    <li>
      <a class="menu-item" href="/materias">
        Ver Materias
      </a>
    </li>
    <li>
      <a class="menu-item" href="/materias-disponibles">
        Añadir Materias
      </a>
    </li>
  </ul>
</header>
